.App{
  /*font-family: "Source Sans Pro";*/
  /*font-weight: 600;*/
  
}
.body-app{
  background-image: url("https://a.icons8.com/sXXfraeX/h8RrTL/background_dark.png");
  background-color: #000;
  color: #fff;
  margin-top: -5px;
}
.header-image {
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5;
}

.header-data{
  top: 0;
  width: 42vw;
  left: 0;
  padding-left: 17vw;
  z-index: 10;
  padding-top: 12vw;
  position: absolute;
  
}

.header-metadata{
    display:flex;
    flex-direction: row;
    font-size: 1.1vw;
    /*font-family: "SFUIDisplay-Regular";*/
    /*font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.26px;*/
}

.header-metadata > div{
  padding-right: 1vw;
  align-items: center;
}

.header-description{
  padding-top: 1vw;
  font-size: 1.1vw;
}

.header-actions{
  padding-top: 3vw;
}

.header-actions > div{
    text-align: center;
    margin-right: 1.5vw;
    cursor: pointer;

}

.header-button{
    width:7vw;
    height: 4vw;
    border-radius: 4px;
    border: none;
    color: #fff;
    background: #4d4d4d;
    font-size: 1.3vw;
    transition: transform 300ms ease 100ms;
    cursor: pointer;
}
.header-button > i{
  font-size: 2vw;
}

.header-button-title{
  font-size: 1vw;
  opacity: 0.4;
}

.header-actions > div:hover >button {
    background: #fff; 
    color: #4d4d4d;
    transform: scale(1.2) !important;
}

.header-actions > div:hover >.header-button-title {
  opacity: 1;
  transform: scale(1.2) !important;
  
}

.header-icon{
  height: 1vw;
}

.sidemenu{
  padding-right: 3vw;
  
}

.menu-section{
  width:5vw;
  text-align: right;
  margin-bottom: 2vw;
}

.menu-item{
  font-size: 1vw;
  margin-bottom: 0.8vw;
}

.menu-subitem{
  font-size: 0.8vw;
  opacity: 0.4;
  margin-bottom: 0.5vw;
}
.slider-category{
 /* padding-top: 10px;*/
}

.flexbox{
  display: flex
}

.row {
  flex-direction: row
}

.column {
  flex-direction: column
}

.footer{
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 5vw;
}


.footer-row > div:last-child{
    padding-left: 1.5vw;
    width: 22.5vw;
    opacity: 0.4;
}

.footer-section{
  margin-right: 5vw;
  font-size: 1vw;
}
.footer-row{
  padding-bottom: 1vw;
}

.line-divider{
  border: 1px solid #fff;
  opacity: 0.1;
  margin-bottom: 40px 
}



/** responsive **/

@media screen and  (min-width: 1400px){
  .item {
    flex: 0 0 9.7%;
  }

}


@media screen and (max-width: 1399px) and (min-width: 1100px){
  .item {
    flex: 0 0 12.7%;
  }

}


@media screen and (max-width: 1099px) and (min-width: 800px){
  .item{
    flex: 0 0 17.7%;
  }

}

@media screen and (max-width: 799px) and (min-width: 500px){
  .item {
    flex: 0 0 30.7%;
  }

  .slider-Title{
    font-size: 3.5vw !important;
  }

  .item-actors img {
    width:16vw !important;
  }
  .item-actors-name {
    font-size: 2.1vw !important;
  }
  .item-actors-profession {
    font-size: 1.9vw !important;
  }

}

@media screen and (max-width: 499px){
  .item {
    flex: 0 0 48.7%;
  }
  .item-movie-title img {
    height:29vw !important;
  }
  .item-description{
    font-size: 2.2vw !important;
  }
  .slider-Title{
    font-size: 4.5vw !important;
  }
  .item-actors img {
    width:25vw !important;
  }
  .item-actors-name {
    font-size: 3.1vw !important;
  }
  .item-actors-profession {
    font-size: 1.9vw !important;
  }
}


/*movie title slier*/

@media screen and (max-width: 799px) and (min-width: 500px){
  .item-movie-title img {
    height:28vw !important;
  }
  .item-description{
    font-size: 2.2vw !important;
  }
}


