.item {
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
  margin-right: 2vw;
  display:flex;
  
}
.item img {
  /*height: 10vw;*/
 /* width: 100%;*/
  vertical-align: top;
}